<h3>Контакты</h3>
<hr/>

<div class="slider_text" id="yui_patched_v3_11_0_2_1593111858708_52">
    <p id="yui_patched_v3_11_0_2_1593111858708_57">
        <span style="font-size:14px;" id="yui_patched_v3_11_0_2_1593111858708_58"><strong id="yui_patched_v3_11_0_2_1593111858708_63">Адрес:</strong> г. Казань, ул. Большая Красная 55, каб. 116 - 116а,&nbsp; 1 этаж</span>
    </p>
    <p id="yui_patched_v3_11_0_2_1593111858708_55">
        <span style="font-size:14px;" id="yui_patched_v3_11_0_2_1593111858708_56"><strong id="yui_patched_v3_11_0_2_1593111858708_62">Телефон деканта: +7&nbsp;</strong>(843) 231-00-00, 231-00-05</span>
    </p>
    <p id="yui_patched_v3_11_0_2_1593111858708_54">
        <strong style="font-size: 14px;" id="yui_patched_v3_11_0_2_1593111858708_53">Телефон приемной комиссии: +7&nbsp;</strong><span style="font-size:14px;">(843) 231-00-90</span>
    </p>
    <p id="yui_patched_v3_11_0_2_1593111858708_65">
        <span style="font-size:14px;" id="yui_patched_v3_11_0_2_1593111858708_64"><strong>Часы работы деканата:</strong> с 9:00 до 17:00</span>
    </p>
    <p id="yui_patched_v3_11_0_2_1593111858708_66">
        <span style="font-size:14px;">
            <strong>E-mail: </strong><a href="mailto:kit@kai.ru">kit@kai.ru</a>
        </span>
    </p>
    <p id="yui_patched_v3_11_0_2_1593111858708_67">
        <span style="font-size:14px;">
            <strong>Группа </strong>
        </span><strong>«ВКонтакте»</strong>
        <span style="font-size:14px;">
            <strong>:</strong> <a href="https://vk.com/kai_kit">vk.com/kai_kit</a>
        </span>
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><br style="color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 15.3599987030029px; line-height: 17.2031993865967px; white-space: pre-wrap;"> &nbsp;</p>
</div>