<h3>Новости</h3>

<br/>
<br/>
<div class="box_items jf" id="yui_patched_v3_11_0_2_1592749741327_129">
    <div class="item" id="yui_patched_v3_11_0_2_1592749741327_158">
        <div class="pic" id="yui_patched_v3_11_0_2_1592749741327_160">
            <img style="height: 300px" src="https://kit.kai.ru/image/journal/article?img_id=11115856&amp;t=1585041361003">
        </div>
        <div class="desc" id="yui_patched_v3_11_0_2_1592749741327_159">
            <p class="t1" onclick="document.location = 'https://kit.kai.ru/news/new?id=11115749';" href="https://kit.kai.ru/news/new?id=11115749"  id="yui_patched_v3_11_0_2_1592749741327_163"> Киберспортивный турнир по Dota 2 для студентов КНИТУ-КАИ </p> <span class="date" id="yui_patched_v3_11_0_2_1592749741327_162">24.03.2020</span>
            <p class="text" id="yui_patched_v3_11_0_2_1592749741327_164"> КНИТУ-КАИ со студентами организует киберспортивный турнир по Dota 2! Подключайся! </p>
            <div class="links cf">
                <a class="fr" href="https://kit.kai.ru/news/new?id=11115749">Подробнее</a>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <div class="item"  id="yui_patched_v3_11_0_2_1592749741327_138">
        <div class="pic" id="yui_patched_v3_11_0_2_1592749741327_178">
            <img style="height: 300px" src="https://kit.kai.ru/image/journal/article?img_id=11052951&amp;t=1580468333923">
        </div>
        <div class="desc" id="yui_patched_v3_11_0_2_1592749741327_137">
            <p class="t1" onclick="document.location = 'https://kit.kai.ru/news/new?id=11052899';" href="https://kit.kai.ru/news/new?id=11052899" id="yui_patched_v3_11_0_2_1592749741327_157"> "Добрый январь" </p> <span class="date" id="yui_patched_v3_11_0_2_1592749741327_161">31.01.2020</span>
            <p class="text" id="yui_patched_v3_11_0_2_1592749741327_165"> 29 января волонтеры СПО ИКТЗИ посетили приют для бездомных животных. </p>
            <div class="links cf" id="yui_patched_v3_11_0_2_1592749741327_140">
                <a class="fr" href="https://kit.kai.ru/news/new?id=11052899" id="yui_patched_v3_11_0_2_1592749741327_139">Подробнее</a>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <div class="item" id="yui_patched_v3_11_0_2_1592749741327_136">
        <div class="pic" id="yui_patched_v3_11_0_2_1592749741327_143">
            <img style="height: 300px" src="https://kit.kai.ru/image/journal/article?img_id=11047431&amp;t=1580195432737">
        </div>
        <div class="desc" id="yui_patched_v3_11_0_2_1592749741327_135">
            <p class="t1" onclick="document.location = 'https://kit.kai.ru/news/new?id=10723369';" href="https://kit.kai.ru/news/new?id=10723369"  id="yui_patched_v3_11_0_2_1592749741327_144"> Вакантные бюджетные места для приема (перевода) </p> <span class="date" id="yui_patched_v3_11_0_2_1592749741327_145">28.01.2020</span>
            <p class="text" id="yui_patched_v3_11_0_2_1592749741327_134"> Информация о количестве вакантных мест для приема (перевода) по каждой образовательной программе, профессии, специальности,... </p>
            <div class="links cf" id="yui_patched_v3_11_0_2_1592749741327_141">
                <a class="fr" href="https://kit.kai.ru/news/new?id=10723369" id="yui_patched_v3_11_0_2_1592749741327_146">Подробнее</a>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <div class="item" id="yui_patched_v3_11_0_2_1592749741327_128">
        <div class="pic" id="yui_patched_v3_11_0_2_1592749741327_130">
            <img style="height: 300px" src="https://kit.kai.ru/image/journal/article?img_id=10985540&amp;t=1574686112238">
        </div>
        <div class="desc" id="yui_patched_v3_11_0_2_1592749741327_131">
            <p class="t1" onclick="document.location = 'https://kit.kai.ru/news/new?id=10985539';" href="https://kit.kai.ru/news/new?id=10985539" id="yui_patched_v3_11_0_2_1592749741327_132"> "День матери" </p> <span class="date" id="yui_patched_v3_11_0_2_1592749741327_142">25.11.2019</span>
            <p class="text" id="yui_patched_v3_11_0_2_1592749741327_133"> 22 ноября волонтеры колледжа посетили "Детский сад №15" </p>
            <div class="links cf" id="yui_patched_v3_11_0_2_1592749741327_147">
                <a class="fr" href="https://kit.kai.ru/news/new?id=10985539">Подробнее</a>
            </div>
        </div>
    </div>
    <br/>
    <br/>
</div>