@{
    Layout = null;
}
<div>
    <style>
        .label
        {
            display:inline-block;
            width:60px;
        }
        
        .dhx_save_btn_set {
                display: block;
                font-family: Roboto,Arial;
                font-size: 14px;
                font-weight: 500;
                border-radius: 2px;
                text-transform: uppercase;
                border: 1px solid #0288d1;
                color: #fff;
                background-color: #0288d1;
                width: 200px;
                height: 32px;
                margin: 10px;
        }
        
        .dhx_save_btn_set:hover {
            border-color: #0299eb;
            transition: all .1s ease-in-out;
        }
        
        .dhx_cancel_btn_set{
                display: block;
                font-family: Roboto,Arial;
                font-size: 14px;
                font-weight: 500;
                border-radius: 2px;
                text-transform: uppercase;
                border: 1px solid #fff;
                background-color: #fff;
                color: #0288d1;
                width: 100px;
                height: 32px;
                margin-left: 10px;
                margin-top: 68px;
       }
        .dhx_cancel_btn_set:hover {
            background-color: #d9edf8;
            transition: all .1s ease-in-out;
            border: 1px solid #d9edf8;
        }
    </style>
    <script>
     function onkl() {
         debugger;
       lightbox.close()
     }
     function goto() {
         debugger;
       window.parent.location = '@Url.Action("Edit", "Dairy")';
     }
    </script>

    <button type="button" class="dhx_save_btn_set"  onclick="goto()">Открыть журнал</button>
    @* <a type="button" class="dhx_save_btn_set" href="@Url.Action("Index", "Dairy")" >Открыть журнал</a> *@


    <button type="button" class="dhx_cancel_btn_set" onclick="onkl()">Закрыть</button>


    @* <form id='form'> *@
    @*     <span class="label">Text</span><input id="1" name="text" type="text"/><br /> *@
    @*     <span class="label">From</span><input id="2" name="start_date"  type="text"/><span class="label">to</span><input id="3" name="end_date" type="text"/><br /> *@
    @*     <span class="label">Room_id</span><input id="4" name="room_id" type="text"/><span class="label">User Id</span><input id="5" name="user_id" type="text"/> *@
    @*     <input id="id" name="id" type="hidden"/> *@
    @* </form> *@
    @* <div > *@
    @*     <input type="button" value="Save" onclick="lightbox.save()" /> *@
    @*     <input type="button" value="Cancel" onclick="lightbox.close()" /> *@
    @*     <input style="margin-left:250px" type="button" value="Delete" onclick="lightbox.remove()" /> *@
    @* </div> *@
</div>
<script>
    getValues = function () {
        var ev = {};
        var inputs = document.body.getElementsByTagName('input');

        for (var i = 0; i < inputs.length; i++) {
            if (inputs[i].type == "button") {
                continue;
            }
            if (inputs[i].getAttribute('name') == "start_date" || inputs[i].getAttribute('name') == "end_date")
                ev[inputs[i].getAttribute('name')] = parent.scheduler.templates.xml_date(inputs[i].value);
            else
                ev[inputs[i].getAttribute('name')] = inputs[i].value;

         
        }
        return ev;
    };
    setValues = function (obj) {

        var inputs = document.body.getElementsByTagName('input');
        for (var i = 0; i < inputs.length; i++) {
            var name = inputs[i].getAttribute('name');
            if (name && obj[name] !== undefined && inputs[i].type != "button") {
                if (name == "start_date" || name == "end_date")
                    inputs[i].value = parent.scheduler.date.date_to_str(parent.scheduler.config.xml_date)(obj[name]);
                else
                    inputs[i].value = obj[name];
            }
        }
    };
</script>