@model WebDiary.ViewModels.DairyModel
@{
    ViewBag.Title = "Журнал";
}

<h3>Журнал</h3>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <hr/>
    <div class="form-group">
        <span class="control-label col-md-2">Выберите предмет, для которого нужно открыть журнал</span>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.CourseId, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CourseId, Model.Courses, new {id = "Teacher_Course", @class = "custom-select"})
                @Html.HiddenFor(model => model.CourseId, new {id = "Teacher_Course_hidden"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Открыть" class="btn btn-primary mt-md-3"/>
            </div>
        </div>
    </div>
}